@using Core.Settings
@model Core.ViewModels.Teachers.CreateTeacherVm
@{
    ViewData["Title"] = "Create";
}

<form class="row g-3" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name:</label>
        <input id="name" asp-for="Name" value="@Model.Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label">Email</label>
        <input id="email" asp-for="Email" value="@Model.Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary" class="control-label">Salary:</label>
        <input id="salary" asp-for="Salary" value="@Model.Salary" class="form-control"/>
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age" class="control-label">Age:</label>
        <input id="age" asp-for="Age" value="@Model.Age" class="form-control"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CourseId" class="form-label mt-4">Course:</label>
        <select id="courseId" class="form-select" asp-for="CourseId" asp-items="Model.Courses">
            <option value="">Select a Course</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="form-label mt-4">Image:</label>
        <input id="image" type="file" class="form-control" asp-for="Image"/>
        <small class="form-text text-muted"> Only @FileSettings.AllowedExtension files are allowed with max size @FileSettings.MaxFileSizeInMb MB.</small>
        <span asp-validation-for="Image" class="text-danger d-block"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label">Password</label>
        <input id="password" type="password" asp-for="Password" value="@Model.Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
        <input id="confirmPassword" type="password" asp-for="ConfirmPassword" value="@Model.ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="createTeacherBtn" type="button" class="btn btn-primary mt-4">Create</button>
</form>

@section Scripts
{
    <script src="lib/jquery-3.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  

    <script>
        $(document).ready
            (
                function () {
                    $('#createTeacherBtn')
                        .click
                        (
                            function () {
                                createTeacher();
                            }
                        )
                }
            )
        function createTeacher() {
            
            var formData = new FormData();
            // Append form fields to FormData object
            formData.append("Name", $('#name').val());
            formData.append("Email", $('#email').val());
            formData.append("Salary", $('#salary').val());
            formData.append("Age", $('#age').val());
            formData.append("CourseId", $('#courseId').val());
            formData.append("Image", $('#image')[0].files[0]); // Append the file
            formData.append("Password", $('#password').val());
            formData.append("ConfirmPassword", $('#confirmPassword').val());
            console.log(formData);
            $.ajax
                (
                    {
                        type: "POST",
                        url: "/Teachers/SaveCreate",
                        contentType: false, // Set contentType to false for FormData
                        processData: false, // Set processData to false for FormData
                        data: formData,
                        success: function (result) {
                            console.log(result.isSuccess);
                            if (result.isSuccess) 
                            {
                                window.location.href = "/Teachers";
                            }
                            else 
                            {
                                $('.toast-body').text(result.message);
                                $('.toast').toast('show');
                            }
                        }
                    });
        }


    </script>
}

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
        <strong class="me-auto">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <!-- Toast message will be inserted here -->
    </div>
</div>